---
layout: default
---

<div class="col-lg-12">
  {% include ticker.html %}
</div>

<div id="slogan">
  <h3 class="text-center">{{ ' "Holding a Winner Means Fighting Human Behavior" '| smartify }}</h3>
</div>

<p>
  Počas vysokoškolského štúdia som sa venujem obchodovaniu na burze.
  Zaujímam sa hlavne o majoritné forexové páry, cenné kovy, akciové indexy a okrajovo sledujem aj vývoj kryptomien.
  Na tejto stránke nájdete prehľad rôznych <i>widgetov</i>, ktoré zobrazujú tie najdôležitejšie páry, indexy a komodity na burze.
  Nižšie som pridal pár kníh, ktoré odporúčam prečítať hlavne vďaka ich dobrému spracovaniu a veľmi bohatému obsahu, ktorý je založený na skúsenostiach.
</p>
<p>
  Keď som spomenul skúsenosti, určite by bolo zaujímavé spomenúť <strong>5 najlepších / najziskovejších forexových obchodníkov na svete</strong>:
</p>

<div class="col-lg-12">
  <div class="col-lg-6">
    <ul>
    {% for trader in site.data.traders %}
      <li><strong>Meno a priezvisko: </strong>{{trader.meno}} {{trader.priezvisko}}<br />
      <strong>Rok narodenia: </strong>{{trader.narodeny}}<br />
      <strong>Majetok: </strong>{{trader.majetok}}</li>
      <br />
    {% endfor %}
    </ul>
  </div>
  <div class="col-lg-6">
    <strong><h3>Odporúčaná literatúra</h3></strong>
    <ul>
    {% for book in site.data.books %}
      <li><strong>Názov: </strong>{{book.nadpis}}<br />
      <strong>Autor: </strong>{{book.autor}}<br />
      <strong>Odkaz: </strong><a href="{{ book.link }}">{{ book.link }}</a></li>
      <br />
    {% endfor %}
    </ul>
  </div>
</div>
</div>

  <div class="col-lg-6">
    {% include chart.html %}
  </div>

  <div class="col-lg-6">
    {% include crypto.html %}
  </div>
