<nav  id="footer" class="navbar navbar-inverse">
  <div class="container-fluid col-lg-12">
    <ul class="nav navbar-nav">
      <li><a href="mailto:xbekesf@stuba.sk">Email</a></li>
      <li><a href="#stav_semestra">Aktuálny týždeň semestra:</a></li>
    </ul>
    <div class="semester col-lg-9">
  		<div class="progress">
  		  <div class="progress-bar progress-bar-success" role="progressbar" style="width:8.33%">
  		    1. týždeň
  		  </div>
  		  <div class="progress-bar progress-bar-danger" role="progressbar" style="width:8.33%">
  		    2. týždeň
  		  </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:8.33%">
  		    3. týždeň
  		  </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:8.33%">
  		    4. týždeň
  		  </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:8.33%">
  		    5. týždeň
  		  </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:8.33%">
  		    6. týždeň
  		  </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:8.33%">
  		    7. týždeň
  		  </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:8.33%">
  		    8. týždeň
  		  </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:8.33%">
  		    9. týždeň
  		  </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:8.33%">
  		    10. týždeň
  		  </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:8.33%">
  		    11. týždeň
  		  </div>
  		</div>
  	</div>
  </div>
</nav>
