<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<!-- Latest compiled JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/home.css">
			<link rel="stylesheet" type="text/css" href="/css/stocks.css">
			<link rel="stylesheet" type="text/css" href="/css/dev.css">
		</head>
		<body>
			<div class="container">
				{% include nav.html %}
				<div class="content">
					{{ content }}
				</div>
				<div>
					{% include footer.html %}
				</div>
			</div><!-- /.container -->

		</body>
	</html>
